* {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    background: #FFFF00;
    height: 300px;
}

.box {
    width: 100px;
    height: 100px;
    line-height: 100px; /* เป็นคำสั่งสำหรับจัดกลางข้อความให้อยู่ตรงกลางกล่อง โดยไม่ค่าท่ากันกับ height */
    background: blueviolet;
    color: #a5a5a5;
    border: 2px solid red;
    text-align: center;
    margin: 2px;
}

.container-box{
    display: flex;
    justify-content: flex-end;
}

.container-box{
    width: 300px;
    height: 150px;
    background: red;

}
