/* 
Google Font
font-family: 'Roboto', sans-serif;
font-weight: 100, 300;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* ---------- Navbar ------------- */
.navbar-container {
  height: 5rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 0 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-facebook-logo-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-facebook-logo-search i {
  font-size: 4rem;
  color: #1877f2;
  margin: 1rem;
}

.navbar-facebook-logo-search input {
  padding: 1.5rem;
  font-size: 1.5rem;
  height: 2rem;
  border-bottom-left-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  background-color: #f0f2f5;
  border: none;
}

.navbar-navigation-icon-head {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-navigation-icon-head i {
  padding: 0 3rem;
  font-size: 3rem;
  color: #1877f2;
  margin: 0.5rem;
}

.navbar-messenger {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-messenger i {
  padding: 0 0.5rem;
  font-size: 3rem;
  color: #1877f2;
  margin: 1rem;
}

.navbar-messenger h3 {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: #000;
  margin: 1rem;
  background-color: #f0f2f5;
  padding: 1rem 3rem;
  border-bottom-left-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
}

.nav-profile {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  top: 0;
}
/* ---------- End Navbar head --------- */

/* ----------- navaigation -----------*/
.navigation-container {
  padding: 0.8rem 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.navigation-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 2rem;
}

.navigation-icon i {
  font-size: 3rem;
  color: #1877f2;
  margin-right: 2rem;
}

.navigation-icon p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
}

.navigation h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* ----------- End of navaigation -----------*/

.main {
  font-size: 1.5rem;
  background-color: #fff;
  width: 50%;
}

.card-container {
  display: flex;
  width: 100%;
  height: 20rem;
  background-color: #e4e6e8;
  border-radius: 1.8rem;
  overflow: hidden;
  margin: 1rem;
}

.card-container-story {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
}

.card-container-story-profile {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

/* ----------- Complementary -----------*/
.complementary-container {
  padding: 0.8rem 0;
}

.complementary {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.complementary h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 1rem;
}

/* ----------- End of Complementary -----------*/
