/* 
Google Font
font-family: 'Roboto', sans-serif;
font-weight: 100, 300;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* ----------- navaigation -----------*/
.navigation-container {
  padding: 0.8rem 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.navigation-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 2rem;
}

.navigation-icon i {
  font-size: 3rem;
  color: #1877f2;
  margin-right: 2rem;
}

.navigation-icon p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
}

.navigation h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* ----------- End of navaigation -----------*/

.main {
  font-size: 1.5rem;
  background-color: aqua;
  width: 50%;
}

/* ----------- Complementary -----------*/
.complementary-container {
  padding: 0.8rem 0;
}

.complementary {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.complementary h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 1rem;
}

/* ----------- End of Complementary -----------*/
